name: "Build Check"
on:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            host: kratos
          - os: ubuntu-latest
            host: blade
          - os: ubuntu-latest
            host: nixbook
          - os: ubuntu-latest
            host: inix
          - os: ubuntu-latest
            host: kronos
          - os: ubuntu-24.04-arm
            host: hermes
    runs-on: ${{ matrix.os }}
    steps:
    - run: sudo rm -rf /opt&
    - name: Free GitHub Actions Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed if set to "true"
        tool-cache: true
        # all of these default to true and will be cleared, so set to "false"
        # if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true
    - uses: actions/checkout@v4
    - uses: webfactory/ssh-agent@master
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - uses: cachix/install-nix-action@v31
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - uses: cachix/cachix-action@v16
      with:
        name: deidrael
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        extraPullNames: nix-community

    - name: Build
      run: nix build -L .#nixosConfigurations.${{matrix.host}}.config.system.build.toplevel

    - name: Deploy
      run: |
        cachix push deidrael ./result*
