name: "Create PR when pushing to dev branch"
on:
  push:
    branches:
      - dev
jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@master
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create or Update Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          base: main
          branch: dev
          title: 'Merge dev to main'
          body: 'Automated PR to merge dev branch changes into main.'
          labels: |
            automated
            merge-dev

      - name: Enable Pull Request Automerge
        run: gh pr merge --rebase --auto ${{ steps.pr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
