name: "Create PR when pushing to dev branch"
on:
  push:
    branches:
      - dev
jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if PR exists
        id: check_pr
        run: |
          PR_COUNT=$(gh pr list --head dev --base main --json number | jq length)
          if [ "$PR_COUNT" -gt 0 ]; then
            echo "PR already exists"
            echo "pr_exists=true" >> $GITHUB_OUTPUT
          else
            echo "PR does not exist"
            echo "pr_exists=false" >> $GITHUB_OUTPUT
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}

      - name: Create Pull Request
        id: pr
        if: steps.check_pr.outputs.pr_exists == 'false'
        run: |
          gh pr create \
            --base main \
            --head dev \
            --title "Merge dev to main" \
            --body "Automated PR to merge dev branch changes into main." \
            --label automated
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}

      - name: Enable Pull Request Automerge
        run: gh pr merge --rebase --auto ${{ steps.pr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
